body {
  font-size: 3rem;
}

.list {
  margin-top: 10%;
  margin-left: 55%;
  width: fit-content;
  display: grid;
  opacity: 0;
  animation: easeInAnimation 0.5s forwards;
}

@keyframes easeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list .exit,
.list .navItem {
  width: fit-content;
  height: 100%;
  transition: 0.5s;
}

.list .exit:hover,
.list .navItem:hover {
  transform: scale(1.5) translateX(-2rem);
}

.list:hover .exit:not(:hover),
.list:hover .navItem:not(:hover) {
  filter: blur(3px);
}

.list .navItem::after,
.list .exit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 1px;
  background-color: #9abca7;
  transition: width 0.5s ease, left 0.5s ease;
}

.list .navItem:hover::after,
.list .exit:hover::after {
  width: 100%;
  left: 0;
}
